In [56]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, plot_confusion_matrix
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('fake_news_train.csv')
test = pd.read_csv('fake_news_test.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   news_text  4998 non-null   object
 1   label      4998 non-null   object
dtypes: object(2)
memory usage: 78.2+ KB

In [4]:
df.head(10)

                                           news_text label
0  Get the latest from TODAY Sign up for our news...  fake
1  2d  Conan On The Funeral Trump Will Be Invited...  fake
2  It’s safe to say that Instagram Stories has fa...  real
3  Much like a certain Amazon goddess with a lass...  real
4  At a time when the perfect outfit is just one ...  real
5  When Reese Witherspoon was 17, she had already...  real
6  It’s official! WAGS Miami stars Ashley Nicole ...  real
7  On March 24, 2018, one month and ten days afte...  fake
8  A mosque in Georgia is under fire after they s...  fake
9  Scott Disick is sticking up for Khloe Kardashi...  fake

In [5]:
df.describe()

                                                news_text label
count                                                4998  4998
unique                                               4733     2
top     Scoopnest is a web media which finds for you t...  real
freq                                                   15  2976

In [7]:
df.shape

(4998, 2)

In [49]:
X=df['news_text'].copy()

In [11]:
labels = df.label
labels.head()

0    fake
1    fake
2    real
3    real
4    real
Name: label, dtype: object

In [12]:
df = df.dropna()

In [13]:
df.shape

(4998, 2)

In [14]:
df.head(10)

                                           news_text label
0  Get the latest from TODAY Sign up for our news...  fake
1  2d  Conan On The Funeral Trump Will Be Invited...  fake
2  It’s safe to say that Instagram Stories has fa...  real
3  Much like a certain Amazon goddess with a lass...  real
4  At a time when the perfect outfit is just one ...  real
5  When Reese Witherspoon was 17, she had already...  real
6  It’s official! WAGS Miami stars Ashley Nicole ...  real
7  On March 24, 2018, one month and ten days afte...  fake
8  A mosque in Georgia is under fire after they s...  fake
9  Scott Disick is sticking up for Khloe Kardashi...  fake

In [67]:
news = df['news_text'].copy()
#news.reset_index(inplace=True)
labels = df['label']

In [77]:
x_train,x_test,y_train,y_test=train_test_split(news, labels, test_size=0.33, random_state=324)
y_train

3639    real
3690    real
1472    fake
4530    fake
3529    fake
        ...
600     fake
1531    fake
908     fake
4852    real
2713    real
Name: label, Length: 3348, dtype: object

In [78]:
y_test.shape

(1650,)

In [75]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.8)

tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
tfidf_test = tfidf_vectorizer.fit_transform(x_test)
tfidf_test.shape

(1650, 39662)

In [74]:
pac = PassiveAggressiveClassifier()
pac.fit(tfidf_train,y_train)

PassiveAggressiveClassifier()

In [ ]:
# Predict on the test set and calculate accuracy
y_pred = pac.predict(tfidf_test)
score = accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

In [ ]:
confusion_matrix(y_test, y_pred, labels=[0, 1])

In [ ]:
plot_confusion_matrix(confusion_matrix(y_test, y_pred), display_labels=['fake', 'real'])
plt.show()